[application]
out_dir = "dist"

[web.app]

# HTML title tag content
title = "Nonogram Solver"
base_path = "/"

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []
